@model YGWeb.Models.Card
@{
    ViewData["Title"] = "CardDetails";
    Layout = null;
    bool isMonster = false;
    bool isLink = false;
    string imageURL;
    string name;
    string description;
    string cardType;
    if (Model.type.Contains("Monster"))
    {
        isMonster = true;
        if (Model.type.Contains("Link"))
        {
            isLink = true;
        }
    }
    int addable = 3 - ViewBag.count;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .card-container {
            display: flex; /* Use flexbox to align items horizontally */
            align-items: flex-start; /* Center items vertically */
        }

        .card-image {
            max-width: 500px; /* Set the maximum width for the image */
            height: auto; /* Allow the image to maintain its aspect ratio */
        }

        .card-text {
            margin-left: 20px; /* Add some space between the image and text */
            
        }
    </style>
    <script>
        const input = document.querySelector("numeric");
        input.addEventListener("numeric", updateValue);
    </script>
</head>
<body class="card-container">
    <div class="card-container">
        <img src=@Model.image_url alt="Card Image" class="card-image">
        <div class="card-text">
            <h2>@Model.name</h2>
            <b>@Model.type   |   @Model.race</b>
            @if (isMonster)
            {
                if (isLink)
                {
                    <br />
                    <b>Atk: @Model.atk</b>
                }
                else
                {
                    <br />
                    <b>Atk: @Model.atk   Def: @Model.def</b>
                    <br />
                    <b class="pb-0">Level: @Model.level</b>
                }
            }
            <hr/>
            <p>@Model.description</p>
        </div>
    </div>
    @if (ViewBag.cardList == "Add")
    {
        <hr />
        <div class="row">
            <div class="col-6 justify-content-evenly">
                @using (Html.BeginForm("addCard", "Card", new {id = Model.id, s = ViewBag.searchString, p = ViewBag.pageNumber }))
                {
                    @if (addable == 0)
                    {
                        <b style="color:rgb(200,10,10)">Max card limit reached</b>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit">Add to Deck</button>
                        <input name="c" id="numeric" style="background-color: rgb(200,200,200);text-align:center" type="number" min="1" max="@addable" step="1" value="@(addable > 0 ? 1 : addable)" />
                    }
                    
                }
            </div>
            <div class="col-6 text-end">
                <b> Currently in Deck: @ViewBag.count</b>
            </div>
        </div>
    }
    @if (ViewBag.cardList == "Remove")
    {
        <hr />
        <div class="row" style="display:flex">
            <div class="col-6 justify-content-evenly">
                @using (Html.BeginForm("removeCard", "Card", new { id = Model.id, s = ViewBag.searchString, p = ViewBag.pageNumber }))
                {
                    <button class="btn btn-danger" type="submit">Remove from Deck</button>
                    <input name="c" id="numeric" style="background-color: rgb(200,200,200);text-align:center" type="number" min="1" max="@ViewBag.count" step="1" value="1" />

                }
            </div>
            <div class="col-6 text-end">
                <b> Currently in Deck: @ViewBag.count</b>
            </div>
        </div>
    }
</body>
</html>