@model YGWeb.Models.Card
@{
    ViewData["Title"] = "CardDetails";
    Layout = null;
    bool isMonster = false;
    string imageURL;
    string name;
    string description;
    string cardType;
    if (Model.type.Contains("Monster"))
    {
        isMonster = true;
    }

    if (Model == null)
    {
        imageURL = "https://ms.yugipedia.com//4/4a/Back-AE.png";
        name = "Name Not Found";
        description = "Seems like there was an error retrieving card information";
        cardType = "";
    }
    else
    {
        imageURL = Model.image_url;
        name = Model.name;
        description = Model.description;
        cardType = Model.type;
    }
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .card-container {
            display: flex; /* Use flexbox to align items horizontally */
            align-items: flex-start; /* Center items vertically */
        }

        .card-image {
            max-width: 500px; /* Set the maximum width for the image */
            height: auto; /* Allow the image to maintain its aspect ratio */
        }

        .card-text {
            margin-left: 20px; /* Add some space between the image and text */
            
        }
    </style>
</head>
<body class="card-container">
    <div class="card-container">
        <img src=@imageURL alt="Card Image" class="card-image">
        <div class="card-text">
            <h2>@name</h2>
            <b>@cardType   |   @Model.race</b>
            @if (isMonster)
            {
                <br/>
                <b>Atk: @Model.atk   Def: @Model.def</b>
                <br />
                <b class="pb-0">Level: @Model.level</b>
            }
            <hr/>
            <p>@description</p>
        </div>
    </div>
    @if (ViewBag.cardList == "Add")
    {
        <hr />
        <div class="row">
            <div class="col-6 justify-content-evenly">
                <a asp-action="addCard" asp-route-id="@Model.id" asp-route-s="@ViewBag.searchString" asp-route-p="@ViewBag.pageNumber" class="btn btn-success">Add to Deck</a>
                <input style="background-color: gray" type="number" min="1" max="3" step="1" value="1"/>
            </div>
            <div class="col-6 text-end">
                <b> Currently in Deck: @ViewBag.count</b>
            </div>
        </div>
    }
    @if (ViewBag.cardList == "Remove")
    {
        <hr />
        <div class="row" style="display:flex">
            <div class="col-6 justify-content-evenly">
                <a asp-action="removeCard" asp-route-id="@Model.id" asp-route-s="@ViewBag.searchString" asp-route-p="@ViewBag.pageNumber" class="btn btn-danger">Remove from Deck</a>
                <input style="background-color: gray" type="number" min="1" max="@ViewBag.count" step="1" value="1" />
            </div>
            <div class="col-6 text-end">
                <b> Currently in Deck: @ViewBag.count</b>
            </div>
        </div>
    }
</body>
</html>