@model Tuple<YGWeb.Models.Card[], IEnumerable<Card>>
@{
    ViewData["Title"] = "DeckBuilder";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.nextPage = ViewBag.pageNumber;
    ViewBag.previousPage = ViewBag.pageNumber;

    if (ViewBag.lastPage > 5)
        ViewBag.chunks = 5;
    else
        ViewBag.chunks = ViewBag.lastPage;

    if (ViewBag.pageNumber < ViewBag.lastPage)
        ViewBag.nextPage = ViewBag.pageNumber + 1;
    if (ViewBag.pageNumber > 1)
        ViewBag.previousPage = ViewBag.pageNumber - 1;


    IEnumerable<Card> tempCardList = Model.Item2;
    IEnumerable<Card> baseCardList = Model.Item1;
    
    Card[] deckList = new Card[60];
    for (int i = 0; i < tempCardList.Count(); i++)
    {
        deckList[i] = tempCardList.ElementAt(i);
    }
}

<style>
    #highlightable td:hover{
        background-color: gray;
        color: white;
    }
</style>

<div class="p-3 m-3">
    <h1> Deck Builder </h1>
</div>


<div class="row">
    <div class="column w-50 p-0" style="background-color:darkcyan;">
        <div class="row p-2">
            <div class="col-6 ">
                @using (Html.BeginForm("DeckBuilder", "Card", new { page = 1 }))
                {
                    <div class="col-6">
                        <p style="color:white">Find by name: @Html.TextBox("SearchString")</p>
                    </div>
                    <p style="padding-top:5px">
                        <input type="submit" value="Submit" />
                    </p>
                }
            </div>

        </div>
        <div class="p-0" style="height:620px;overflow:auto;">
            <table class="table table-bordered table-striped p-0" style="width:100%;table-layout:fixed" id="highlightable">
                @if (baseCardList != null)
                {
                    var chunks = baseCardList.Chunk(8);
                    @foreach (var chunk in chunks)
                    {
                        <tr class="p-0">
                            @foreach (var card in chunk)
                            {
                                <td>
                                    <a onclick="showInPopup('@Url.Action("CardDetails", "Card", new {id = card.id, cardList = "Add", searchString = ViewBag.searchString, page = ViewBag.previousPage}, Context.Request.Scheme)', 'Card Details')" class="btn btn-success" style="padding:0">
                                        <img src="@card.image_url" style="width:100%" />
                                    </a>

                                </td>
                            }
                            @for (int i = 0; i < (8 - chunk.Length); i++)
                            {
                                <td style="background-color:rgb(20,20,20)"></td>
                            }
                        </tr>
                    }
                }
            </table>

            @using (Html.BeginForm())
            {
                <div style="text-align:center">
                    <a class="btn btn-primary" href="@Url.Action("DeckBuilder", "Card", new{searchString = ViewBag.searchString, page = ViewBag.previousPage})">Previous Page</a>
                    @{
                        int current = ViewBag.pageNumber;
                        int last = ViewBag.lastPage;
                        int min = current - 2;
                        int max = current + 2;
                        int count = ViewBag.chunks;
                        while (min < 1)
                        {
                            min++;
                            max++;
                        }
                        var pageRange = Enumerable.Range(min, count);
                        foreach (var pageNumber in pageRange)
                        {
                            <a class="btn btn-primary" href="@Url.Action("DeckBuilder", "Card", new{searchString = ViewBag.searchString, page = pageNumber})">
                                @if (pageNumber == current)
                                {
                                    <b style="font-size:17px">@pageNumber</b>
                                }
                                else
                                {
                                    @pageNumber
                                }
                            </a>
                        }
                    }
                    <a class="btn btn-primary" href="@Url.Action("DeckBuilder", "Card", new{searchString = ViewBag.searchString, page = ViewBag.nextPage})">Next Page</a>
                </div>

            }
        </div>
    </div>

    <div class="column w-50 p-2" style="background-color:gray;">
        @Html.TextBox("deckName", "Deck Name Here")
        <table class="table table-bordered table-striped p-2" style="width:100%;aspect-ratio:1/1.25;table-layout:fixed">
            @for (int row = 0; row < 10; row++)
            {
                <tr class="p-0" style="height:100px">
                @for(int col = 0; col < 6; col++)
                {
                        int index = row * 6 + col;
                        @if (deckList[index] != null)
                        {
                            Card card = deckList[index];
                            int cardCount = tempCardList.Count(c => c.id == card.id);
                            <td>
                                <a onclick="showInPopup('@Url.Action("CardDetails", "Card", new {id = card.id, cardList = "Remove", searchString = ViewBag.searchString, page = ViewBag.pageNumber, count = cardCount}, Context.Request.Scheme)', 'Card Details')" class="btn btn-success" style="padding:0">
                                    <img src="@card.image_url" style="width:100%" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                }
                </tr>
            }
        </table>
        
    </div>
    
</div>