@using static YGWeb.Models.Card;

@model IEnumerable<Card>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.nextPage = ViewBag.pageNumber;
    ViewBag.previousPage = ViewBag.pageNumber;

    if (ViewBag.lastPage > 5)
        ViewBag.chunks = 5;
    else
        ViewBag.chunks = ViewBag.lastPage;

    if (ViewBag.pageNumber < ViewBag.lastPage)
        ViewBag.nextPage = ViewBag.pageNumber + 1;
    if (ViewBag.pageNumber > 1)
        ViewBag.previousPage = ViewBag.pageNumber - 1;
}

<h1>Card Database</h1>

<div class="border p-3 mt-4">
    @using (Html.BeginForm("Index", "Card", new{page = 1}))
    {
        <p>
            Filter Options:
        </p>
        <p>
            Find by name: @Html.TextBox("SearchString")
        </p>
        <p>
            Card Type:
            @Html.DropDownList("CardType",
            new SelectList(Enum.GetValues(typeof(cardType))),
            "Select Card Type")
        </p>
        <p style="padding-top:5px">
            <input type="submit" value="Submit" />
        </p>
    }

</div>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Card Image
            </th>
            <th>
                Card Name
            </th>
            <th>
                Card Type
            </th>
            <th>
                Card Race
            </th>
            <th>
                Card Description
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach(var obj in Model)
            {
                <tr>
                    <td width="20%">
                        <img src="@obj.image_url" height="200">
                    </td>
                    <td width="20%">
                        @obj.name
                    </td>
                    <td width="20%">
                        @obj.type
                    </td>
                    <td width="20%">
                        @obj.race
                    </td>
                    <td width="20%">
                        @obj.description
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@using (Html.BeginForm())
{
    <p>
        Current Page Number: @ViewBag.pageNumber
    </p>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "Card", new{searchString = ViewBag.searchString, cardType = ViewBag.cardType, page = ViewBag.previousPage})">Previous Page</a>
        @{
            int current = ViewBag.pageNumber;
            int last = ViewBag.lastPage;
            int min = current - 2;
            int max = current + 2;
            int count = ViewBag.chunks;
            while(min < 1)
            {
                min++;
                max++;
            }
            var pageRange = Enumerable.Range(min, count);
            foreach(var pageNumber in pageRange)
            {
                <a class="btn btn-primary" href="@Url.Action("Index", "Card", new{searchString = ViewBag.searchString, cardType = ViewBag.cardType, page = pageNumber})">
                    @pageNumber
                </a>
            }
        }
        <a class="btn btn-primary" href="@Url.Action("Index", "Card", new{searchString = ViewBag.searchString, cardType = ViewBag.cardType, page = ViewBag.nextPage})">Next Page</a>
    </div>
    
}
